@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

body {
    background-color: #FFF;
}

nav ul li {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    float: right;
  }

  .img1 {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-self: left;
    align-items: left;
    margin-left: 5px;
    padding-left: 5px;
    float: left;
}

.nav1 {
    padding-left: 10px;
}

.nav2 {
    padding-left: 10px;
}

.nav3 {
    padding-left: 10px;
}

.nav4 {
    padding-left: 10px;
}

main {
    position: relative;
    text-align: center;
    color: white;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    border-bottom: 5px solid #00B172;
    padding-bottom: 3px;
    text-align: center;
    font-size: 1.5em;
}

h4{
    color: #00B172;
    font-size: 1em;
}

section div img {
    width: 100px;
    height: 100px;
}

section div {
    display: flex;
    flex-direction: row;
}

.big-box {
    border: 1px solid #00B172;
    margin: 30px 30px;
    height: 300px;
}

.box1, .box2, .box3 {
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
}

footer {
    background-color: #00B172;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    flex-direction: column;
}

.spotifyimg {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 500px 100px;
}

h5 {
    border-bottom: 5px solid #FFF;
    padding-bottom: 3px;
    text-align: center;
    font-size: 1.5em;
}

h6 {
    font-size: 1.5em;
}



/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
